<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <div class="sign">
        <form method="post" action="/signup">
            <input type="text" name="firstname" placeholder="Enter your name" required >
            <input type="text" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit">SIGN In</button>
        </form>
    </div>
</body>
</html>