<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/gome.css">
</head>
<body>
    <h1>URL SHORTENER</h1>

    <% if (locals.id) { %>
        <p>
            GENERATED URL: 
            <a href="https://urlshortener-ebkh.onrender.com/<%= id %>" target="_blank">https://urlshortener-ebkh.onrender.com/<%= id %></a>
        </p>
    <% } %>

    <div class="fo">
        <form method="post" action="/urlshort">
            <input type="text" placeholder="ENTER URL" name="url" required>
            <button type="submit">Generate</button>
        </form>
    </div>
</body>
</html>
